html body {
    overflow-x: hidden;
    background-image: url("images/pexels-pascal-borener-1089306.jpg");
    background-position: center;
}

#main-container {
    height: fit-content;
    width: 60vw;
    position: relative;
    background-color: white;
    border-radius: 4px;
}

th, td {
    width: 200px;
    text-align: center;
}

.home-btn {
    padding: 8px 28px;
    background-color: black;
}

.home-btn a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.save-btn button {
    display: none;
}

.save-btn button a {
    display: none;
}