<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arriving planes</title>
    <link rel="stylesheet" th:href="@{/styles/arrivingAndDepartingPagesStyles.css}">
</head>
<body>
    <section id = "filter-container" >
        <form th:action="@{/getArrivingPlanes}" th:method = "POST" >
            <div th:fragment = "form-container">
                <label for="date">Enter a date</label>
                <input type="date" name = "date" placeholder="Enter a date">
                <button type="submit">See flights</button>
            </div>
            
        </form>
    </section>

    <section th:replace = "addTicket.html :: tickets-table-container"></section>
    <button class="home-btn"><a th:href="@{/}">Home</a></button>

</body>
</html>