<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/styles/registerPageStyles.css}">
</head>
<body>
    <section>
        <article> 
            <h1>Register</h1>
                <form th:action="@{/registered}" th:method = "POST">
                    <div th:object = "${userRegisterDto}">  
                        <div>
                            <input th:field = "*{username}" type="text" placeholder="Ivan Ivanov" th:errorclass="invalid-input" name = "username" required>
                            <small th:if = "${#fields.hasErrors('username')}">Invalid username</small>
                            <label for="username" th:unless = "${#fields.hasErrors('username')}">Username</label>
                        </div>
                        <div>
                            <input type="password" placeholder="**********" name = "password" th:errorclass="invalid-input" required>
                            <small th:if = "${#fields.hasErrors('password')}" >Invalid password</small> 
                            <label for="password" th:unless = "${#fields.hasErrors('username')}">Password</label> 
                        </div>
                        <div>
                            <input type="password" placeholder="**********" name = "confirmPassword" th:errorclass="invalid-input" required> 
                            <small th:if = "${#fields.hasErrors('password')}">Invalid confirm password</small>
                            <label for="confirmPassword" th:unless = "${#fields.hasErrors('username')}">Confirm password</label> 
                        </div>
                        <div>
                            <input type="email" placeholder="youremail@domain.com" th:errorclass = "invalid-input" name = "email" required>
                            <small th:if="${#fields.hasErrors('email')}">Invalid email</small>
                            <label for="email" th:unless = "${#fields.hasErrors('email')}">Email</label>
                        </div>
                        <div class="remember-me">
                            <input type="checkbox" id = "checkbox" name="toRemember"><span>Remember me</span>  
                        </div>
                        
                        <button type="submit">Register</button>
                    </div>
                </form>
        </article>
    </section>
</body>
</html>