<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link  href = "/mainPageStyles.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div>
                <a href="">Arriving</a>
                <a href="">Departing</a>
                <a href="">Destinations</a>
            </div>
            <div>
                <a href="">Login</a>
                <a href="">Register</a>
                <button class = "shopcart"></button>
            </div>
        </nav>       
    </header>
    <section class="content">

    </section>
</body>
</html>